**/.idea
*.o
accelerated_bwa_mem/hw/hls/*/*_xcvu37p-fsvh2892-2-e
accelerated_bwa_mem/hw/hls/*/run_hls_script.tcl
accelerated_bwa_mem/sw/build
accelerated_bwa_mem/**/generated
accelerated_bwa_mem/**/*.log
scripts/latest
scripts/output_data
**/.venv
**/venv
.Xil
*/.Xil
vivado*
Xilinx.lic
sample_data/run*
*/.vscode
.vscode
**/__pycache__